.search-field{
    border: #000 1px solid;
    width: 90%;
}
.map-container{
    gap: 0 !important;
}
.autocomplete-container{
    background-size: 130%;
    background-repeat: none;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.find-help-block-header{
    font-size: 20px;
    font-weight: 700;
    width: 50%;
    float: left;
}
.find-help-block-language{
    margin-bottom: 10px;
    text-align: right;
    font-family: int;
}
.icon-colors-top{
    color: #000;
    font-size: 25px;
    margin-right: 10px;
}
.autocomplete-container .findaddress{
    width: 95%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #F8F5F0;
    padding-left: 10px;
}
.hotline-checkbox{
    height: 15px;
    width: 15px;
    margin-right: 8px;
}
.find-help-hotline{
    font-size: 18px;
}
.marker_addressblock .icon-colors{
    color: #073b6f;
}
.marker_addressblock .title{
    color: #073b6f;
    font-size: 18px;
    font-weight:900;
    margin-bottom: 10px;
}
.marker_addressblock li{
    margin-bottom: 5px;
    font-size: 12px;
}
.marker_addressblock svg{
    margin-right: 2px;
}
.find-help-block{
    width: 100%;
}
.find-help-block .find-help-hotline{
    width: 40%;
    float: left;
    margin-bottom: 20px
}
.find-help-block .find-help-distance{
    width: 95%;
    float: left;
}
.top-header-block{
    width: 95%;
    padding-left: 0px;
    padding-right: 10px;
}
.css-1cmet5c-MuiInputBase-root-MuiInput-root
{
    border-bottom: none !important;
    position: initial !important;
}
.find-help-distance .MuiBox-root .MuiSlider-markLabel{
    left: 50% !important;
    margin-top: -10px;
}
.google-map-container{
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.google-map-container div{
    border-radius: 10px;
}
.map-search-button-container  button.disabled{
    background-color: #cccccc !important;
    cursor: not-allowed;
}
.css-pofcw6-MuiButtonBase-root-MuiButton-root.Mui-disabled{
    background-color: #E68F5A !important;
    color: #fff !important;
}
.map-search-button-container{
    margin: auto;
}