.search-field{
    border: #000 1px solid;
    width: 90%;
}
.map-container{
    gap: 0 !important;
}
.autocomplete-container{
    height: 250px;
    background-image: url(/src/assets/images/map-top.png);
    background-size: 130%;
    background-repeat: none;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.find-help-block-language{
    margin-bottom: 50px;
}
.find-help-block-header{
    font-size: 20px;
    font-weight: 700;
}
.icon-colors-top{
    color: #000;
    font-size: 25px;
    margin-right: 10px;
}
.autocomplete-container .findaddress{
    width: 90%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
}
.hotline-checkbox{
    height: 15px;
    width: 15px;
    margin-right: 8px;
}
.find-help-hotline{
    font-size: 18px;
}
.marker_addressblock .icon-colors{
    color: #073b6f;
}
.marker_addressblock .title{
    color: #073b6f;
    font-size: 18px;
    font-weight:900;
    margin-bottom: 10px;
}
.marker_addressblock li{
    margin-bottom: 5px;
    font-size: 12px;
}
.marker_addressblock svg{
    margin-right: 2px;
}
.find-help-block{
    width: 100%;
}
.find-help-block .find-help-hotline{
    width: 40%;
    float: left;
}
.find-help-block .find-help-distance{
    width: 50%;
    float: left;
}